:root {
    --color-primary: #162a80;
    --color-secondary: #0d132a;
    --color-tertiary: #1d3365;
    --text: #fff;
}

.material-icons {
    color: var(--text);
}
#achatMontant{
    color: var(--text);
    text-align: center;
    /*center table*/
margin: 0 auto;
}
tr {
    border-bottom: 1px solid rgba(196, 196, 196, 0.22);
}
table.highlight > tbody > tr:hover {
    background-color: rgba(87, 87, 87, 0.5);
}
#benef,#CA,#NV{
    font-size: 2rem;
    text-align: center;
}
.product_img {
    width: 25%;
    object-fit: cover;
}
.product_img_cart {
    width: 10%;
    object-fit: cover;
}
.product_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-tertiary);
}
.dropdown-content{
 background-color: var(--color-secondary);
    color: white;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: var(--text);
}
.product_cart > input:not([type]), .product_cart > input[type="text"]:not(.browser-default), .product_cart > input[type="password"]:not(.browser-default), .product_cart > input[type="email"]:not(.browser-default), .product_cart > input[type="url"]:not(.browser-default), .product_cart > input[type="time"]:not(.browser-default), .product_cart > input[type="date"]:not(.browser-default), .product_cart > input[type="datetime"]:not(.browser-default), .product_cart > input[type="datetime-local"]:not(.browser-default), .product_cart > input[type="tel"]:not(.browser-default), .product_cart > input[type="number"]:not(.browser-default), .product_cart > input[type="search"]:not(.browser-default),.product_cart >  textarea.materialize-textarea{
    width: 50px;
    color : var(--text);
}
.inputTD > input:not([type]), .inputTD > input[type="text"]:not(.browser-default), .inputTD > input[type="password"]:not(.browser-default), .inputTD > input[type="email"]:not(.browser-default), .inputTD > input[type="url"]:not(.browser-default), .inputTD > input[type="time"]:not(.browser-default), .inputTD > input[type="date"]:not(.browser-default), .inputTD > input[type="datetime"]:not(.browser-default), .inputTD > input[type="datetime-local"]:not(.browser-default), .inputTD > input[type="tel"]:not(.browser-default), .inputTD > input[type="number"]:not(.browser-default), .inputTD > input[type="search"]:not(.browser-default),.inputTD >  textarea.materialize-textarea{
    width: 50px;
    color : var(--text);
}
.product_cart > span {
    width: 25%;
}
.btn {
    background-color: var(--color-primary);
    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
}
.total>p{
    text-align: right;
}
.btn:hover {
    background-color: var(--color-tertiary);
}

input[type="text"], input[type="password"],input[type="submit"],input[type="email"] {
    color: var(--text);
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--color-primary);
    box-shadow: 0 1px 0 0 var(--color-primary);
}
.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: var(--text);
}
.select-wrapper .caret {
    fill: var(--text);
}
.select-dropdown.dropdown-content li:hover{
    background-color: var(--color-tertiary);
}
/* change all fonts to Comic Sans MS */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    background: var(--color-secondary);
}
#ColCover > img {
    transition: margin-left .5s ease;
}

#ColCover {
    position: absolute;
    top: 15vh;
}

.purchase {

}
.soloInTheMiddle{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.InStock {
    position: relative;
    max-width: fit-content;
    color: var(--text);
    background-color: darkgreen;
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}

.NotThatMuch {
    color: var(--text);
    background-color: darkorange;
    position: relative;
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}
.OutOfStock {
    color: white;
    background-color: darkred;
    position: relative;
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}
/* scrollbar custom*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-tertiary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-tertiary);
}
.price {
    display: inline-block;
    color: yellow;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-top:5px;
}

.priceFOnly {
    color: yellow;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-top:5px;
}

.purchase > form > .btn {
}

.availability {
    position: relative;

}

#ColContent {
    position: relative;
    top: 1.75vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

p {
    text-align: justify;
}

main {
    margin: 0 auto;
    width: 80%;
}

.sidenav li > a {
    color: white;
}

.sidenav li > a:hover {
    color: white;
}

.waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.5);
}

header, main, footer {
    padding-left: 300px;
}

nav {
    background-color: var(--color-primary);
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav {
    background-color: var(--color-secondary);
}

.spaceX {
    margin-bottom: 100px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    background-color: var(--color-secondary); /* Black background color */
    min-width: 100%;
    color: var(--text); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
}

/*!* Show the snackbar when clicking on a button (class added with JavaScript) *!
#snackbar.show {
    visibility: visible; !* Show the snackbar *!
    !* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds *!
    !*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;*!
    animation: bounceInUp 1s, bounceOutDown 1s 2.5s;
    !*animation: fadein 0.5s, fadeout 0.5s 2.5s;*!
}*/
.snack_container {
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.snack_rectangle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    positon: relative;
    width: 50px;
    height: 50px;
    background: #380848;
    transform: scale(0);
    border-radius: 50%;
    color: white;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: scale-in 0.3s ease-out forwards, expand 0.3s 0.6s ease-out forwards;
    animation: scale-in 0.3s ease-out forwards, expand 0.3s 0.6s ease-out forwards;
}

.snack_notification {
    display: flex;
    align-items: center;
    padding: 0 13px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    -webkit-animation: fade-in 0.65s ease-in forwards;
    animation: fade-in 0.65s ease-in forwards;
}

@-webkit-keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    50% {
        width: 45vw;
        border-radius: 6px;
    }
    100% {
        width: 40vw;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
}

@keyframes expand {
    50% {
        width: 45vw;
        border-radius: 6px;
    }
    100% {
        width: 40vw;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.flip {
    position: relative;
}

.flip > .front,
.flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.flip > .front {
    transform: rotateY(0deg);
}

.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.flip:hover > .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 280px;
}

.flip > .front,
.flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 395px;
    padding: 1em 2em;
    background: var(--color-tertiary);
    border-radius: 10px;
}

.flip > .front p,
.flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}

.cards-list {
    z-index: 0;
    margin-top: 125px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: margin-left .5s ease;
}